#site-footer
	padding 2em
	color #fff
	font-size 1.2rem
	display flex
	justify-content space-between
	background-color darken($brand-primary-color, 50%)
	align-self flex-end
	width 100%

	.links
		a + a
			margin-left 0.5em

	@media screen and (max-width: $mobile-breakpoint)
		flex-direction column
		text-align center

	a
		color inherit
