.grid
	display flex
	flex-wrap wrap
	justify-content center

	.third
		width 33.3333333%
		padding 1rem

	@media screen and (max-width: $mobile-breakpoint)
		flex-direction column

		.third
			width 100%

