{{ define "intro" }}
	<div id="intro">
		<h2>Hi, I'm Daniel!</h2>
		<p>I'm a web developer and software engineer from Kansas City!</p>
	</div>
	<i class="hero-down-indicator scroll-to-main">
		<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 100 100">
			<path stroke="rgba(255, 255, 255, 0.7)" fill="transparent" stroke-linecap="round" stroke-linejoin="round" stroke-width="8" d="M 5,5 L 50,50 L 95,5" />
		</svg>
	</i>
	<small class="intro-bottom">* - This is not a picture of my desk.</small>
{{ end }}

{{ define "main" }}
	<section class="text-center" id="index-skills-section">
		<header><h2>What I Do</h2></header>
		<div class="grid">
			<div class="third">
				<header>
					<h3>Web Development</h3>
				</header>
				<p>I specialize in creating beautiful and usable user experiences - especially in the web browser.</p>
			</div>
			<div class="third">
				<header>
					<h3>Mobile Design</h3>
				</header>
				<p>The majority of web traffic is now mobile. Mobile-first and responsive design is a must.</p>
			</div>
			<div class="third">
				<header>
					<h3>User Experiences</h3>
				</header>
				<p>Software, websites included, should be a joy to interact with, simple to use, and beautiful.</p>
			</div>
		</div>
	</section>
{{ end }}

{{ define "title" }}
	Home - {{ .Site.Title }}
{{ end }}
