{{ define "main" }}

	<p>This is where the main content goes.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu malesuada nisi. Nulla dapibus mi non lobortis sollicitudin. Nunc mattis, leo sit amet rutrum interdum, libero velit varius nibh, sit amet dapibus sem lacus nec mauris. Maecenas quis ex eget elit scelerisque fringilla. Vestibulum in ullamcorper urna, nec vulputate felis. Nullam aliquam pretium elit quis congue. Vestibulum ut mauris a ex eleifend vestibulum sit amet eu quam. Nunc id imperdiet ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque suscipit faucibus risus, ac faucibus enim rhoncus sed. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec commodo efficitur leo, sed luctus sapien efficitur nec. Aliquam quam arcu, euismod a varius eu, posuere in ex. Praesent eget volutpat mauris, vel ultricies orci.</p>

	<p>Curabitur vulputate non ante ut dictum. Mauris ultricies ornare massa. Donec tincidunt urna ante, in condimentum leo ultricies vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas a ex non urna lobortis consequat. Cras facilisis augue a arcu dictum varius. Aenean sagittis ornare lacus, ac sollicitudin libero semper non. Nullam id arcu posuere, fringilla erat a, semper odio. Sed egestas ligula non ornare laoreet.</p>

	<p>Nulla facilisi. Nam lobortis rhoncus felis. Pellentesque semper urna vel arcu rutrum, id porta nisi condimentum. Nunc congue mattis massa, in maximus leo feugiat sed. Praesent sit amet augue eu diam elementum placerat. Etiam vel massa id sem maximus placerat. Duis odio magna, maximus tempor volutpat a, pharetra vitae nisi. Nunc bibendum lorem at purus varius, in condimentum sem feugiat. Maecenas fermentum vitae mi et faucibus. Suspendisse sed mattis tortor. Phasellus consequat euismod felis, et feugiat ipsum placerat sit amet. Maecenas volutpat, ante vel condimentum elementum, risus turpis ultrices ante, ac volutpat urna sapien ut elit. Etiam sit amet commodo nisl, id facilisis ante. Phasellus quis orci lobortis enim fermentum condimentum. Ut vestibulum eros in risus porttitor pellentesque. Praesent eu neque luctus, vehicula mauris vitae, fringilla nisl.</p>

	<p>Duis et dolor porta, porttitor est vel, gravida mauris. Nullam arcu leo, condimentum at convallis rhoncus, posuere quis lorem. Vestibulum condimentum finibus dolor, sed iaculis dolor venenatis in. Proin eget risus maximus, rutrum metus vel, elementum augue. Morbi porta turpis eu ante rutrum, eget efficitur ligula egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi cursus eu felis ac suscipit. Mauris ac rhoncus arcu. Suspendisse non lectus sit amet est vulputate aliquam. Nulla gravida tortor hendrerit, fermentum urna sit amet, porta nisl. Suspendisse vel congue magna. Proin tincidunt massa eu libero finibus, in accumsan nisl tincidunt. Curabitur volutpat mi ut egestas condimentum.</p>

	<p>Fusce ornare interdum magna, egestas cursus arcu laoreet a. Donec finibus dolor diam, a eleifend risus iaculis at. In in dui sagittis, efficitur quam sed, rhoncus velit. Morbi eu diam at justo euismod euismod. Nam sed imperdiet sapien. Donec viverra accumsan ultrices. Nulla sed venenatis risus. Donec tempor sodales ante eu tincidunt. Donec quis turpis felis. Mauris leo ipsum, laoreet nec sollicitudin quis, vestibulum ac erat.</p>

{{ end }}

{{ define "intro" }}
	<div id="intro">
		<h2>Hi, I'm Daniel!</h2>
		<p>I'm a web developer from Kansas City!</p>
	</div>
	<i class="hero-down-indicator scroll-to-main">
		<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 100 100">
			<path stroke="rgba(255, 255, 255, 0.7)" fill="transparent" stroke-linecap="round" stroke-linejoin="round" stroke-width="8" d="M 5,5 L 50,50 L 95,5" />
		</svg>
	</i>
	<small class="intro-bottom">* - This is not a picture of my desk.</small>
{{ end }}

{{ define "title" }}
	Home - {{ .Site.Title }}
{{ end }}
